<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>NMJF</display-name>
	<servlet>
		<servlet-name>gate</servlet-name>
		<servlet-class>entry.Gate</servlet-class>	
		<load-on-startup>1</load-on-startup>		
	</servlet>
	<servlet-mapping>
		<servlet-name>gate</servlet-name>
		<url-pattern>/gate</url-pattern>
	</servlet-mapping>
</web-app> 